body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 81px;
  padding-right: 87px;
}

/* Header styles start */

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 119.231px;
  height: 12.308px;
}

.header__sign__btn {
  background-image: url(./img/sign_btn.svg);
  outline: none;
  border: 0;
  background-color: transparent;
  width: 78px;
  height: 40px;
}

.header__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__sign__btn-text {
  color: #1d1d1d;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.header__basket__btn {
  width: 40px;
  height: 72px;
  margin-left: 16px;
}

/* Header styles end */

/* Search bar styles start */

.form__search {
  padding-top: 128px;
  border-bottom: 1px solid #7575754d;
}

.search__input {
  border: 0;
  width: 235px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
::placeholder {
  color: #62626280;
}

/* Search bar styles end */

/* Page title styles start */

.h1__title {
  margin: 0 auto;
  margin-top: 56px;
  color: #1d1d1d;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

/* Page title styles end*/

/* Restaurants styles start */

.restaurants {
  padding-top: 16px;
}
.card__pic {
  width: 317.935px;
  height: 256px;
}

.card__name {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 4px;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.food__type {
  margin: 0 auto;
  padding-bottom: 4px;
  color: #626262;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.cook__time {
  margin: 0 auto;
  padding-bottom: 20px;
  color: #1d1d1d;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* Restaurants styles end */

/* Footer logo style start */

.footer {
  background-color: #262626;
}

.footer__logo-pic {
  width: 190.769px;
  height: 19.692px;
}

.footer__logo {
  padding-top: 56px;
  padding-bottom: 40px;
}

/* Footer logo style end */

/* Footer nav style start */

.footer__nav {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 39px;
  padding-bottom: 18px;
}

.lang__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3b3b3b;
  height: 40px;
}

.lang__bar-pic {  
  padding-left: 16px;
}

.lang__bar-dsc {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16.28px;
  color: #fff;
}

.lang__bar-pic2 {
  margin-left: auto;
  padding-right: 8px;
}

.dropdown {
  position: relative;
  margin-top: -7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer__card-title {
  display: flex;
  padding-top: 33px;
}

.footer__card-title-tag {
  color: #49a144;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__card-title-tag-txt {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__card-social {
  padding-top: 17px;
  padding-bottom: 39px;
}

.social-tw {
  padding-left: 12px;
}

.social-inst {
  padding-left: 8px;
}
.footer__links {
  text-decoration: none;
}
.footer__links-h3 {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 23px;
}
/* Footer nav style end */
