html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1124px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 81px;
  padding-right: 87px;
}

@media (min-width: 992px) {
  .scroll__btn-pic {
    height: 80px;
    width: 80px;
  }
  .intro {
    padding-top: 72px;
    background-image: url(./img/intro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position-y: 72px;
  }
  .restaurant__name {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  .restaurant__card {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 38px;
    background-color: #ffffff;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
  }
  .restaurant__card-discr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
  }
  .title__line {
    display: none;
  }
  .menu__card {
    margin-bottom: 49px;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
  .menu__card-title {
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .scroll__btn-pic {
    height: 80px;
    width: 80px;
  }
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  .intro {
    padding-top: 72px;
    background-image: url(./img/intro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 72px;
  }
  .restaurant__name {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  .restaurant__card {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 38px;
    background-color: #ffffff;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
  }
  .restaurant__card-discr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
  }
  .title__line {
    display: none;
  }
  .menu__card {
    margin-bottom: 32px;
    border: 1px solid rgba(117, 117, 117, 0.2);
  }
  .menu__card-title {
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .scroll__btn-pic {
    height: 64px;
    width: 64px;
  }
  .wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header__basket__btn {
    display: none;
  }
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .intro {
    padding-top: 72px;
    background-image: url(./img/intro_sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-position-y: 72px;
  }
  .restaurant__name {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
  .restaurant__card-discr {
    flex-direction: column;
  }
  .restaurant__card {
    margin-top: 131px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  }
  .restaurant__card-discr-cook-time {
    margin-top: 16px;
  }
  .restaurant__card-discr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  .filters {
    display: none;
  }
  .h1__title {
    text-align: center;
  }

  .title {
    padding-bottom: 12px;
  }
  .menu__card {
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }
  .menu__card-title {
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

/* Scroll button styles start */

.scroll__btn {
  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 9;
}

/* Scroll button styles end */

/* Header styles start */

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 119.231px;
  height: 12.308px;
}

.header__sign__btn {
  background-image: url(./img/sign_btn.svg);
  outline: none;
  border: 0;
  background-color: transparent;
  width: 78px;
  height: 40px;
}

.header__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__sign__btn-text {
  color: #1d1d1d;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.header__basket__btn {
  width: 40px;
  height: 72px;
  margin-left: 16px;
}

/* Header styles end */

/* Search bar styles start */

.form__search {
  padding-top: 128px;
  border-bottom: 1px solid #7575754d;
}

.search__input {
  border: 0;
  width: 235px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
::placeholder {
  color: #62626280;
}

/* Search bar styles end */

/* Page title styles start */

.h1__title {
  margin: 0 auto;
  margin-top: 56px;
  color: #1d1d1d;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.title__line {
  margin: 0 auto;
  margin-top: 12px;
  width: 50px;
  color: #757575;
}

/* Page title styles end*/

/* Restaurants styles start */

.restaurants {
  padding-top: 16px;
}
.card__pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__name {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 4px;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.food__type {
  margin: 0 auto;
  padding-bottom: 4px;
  color: #626262;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.cook__time {
  margin: 0 auto;
  padding-bottom: 20px;
  color: #1d1d1d;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
/* Restaurants styles end */

/* Footer logo style start */

.footer {
  background-color: #262626;
}

.footer__logo-pic {
  width: 190.769px;
  height: 19.692px;
}

.footer__logo {
  padding-top: 56px;
  padding-bottom: 40px;
}

/* Footer logo style end */

/* Footer nav style start */

.footer__nav {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 39px;
  padding-bottom: 18px;
}

.lang__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3b3b3b;
  height: 40px;
}

.lang__bar-pic {
  padding-left: 16px;
}

.lang__bar-dsc {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16.28px;
  color: #fff;
}

.lang__bar-pic2 {
  margin-left: auto;
  padding-right: 8px;
}

.dropdown {
  position: relative;
  margin-top: -7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer__card-title {
  display: flex;
  padding-top: 33px;
}

.footer__card-title-tag {
  color: #49a144;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__card-title-tag-txt {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.footer__card-social {
  padding-top: 17px;
  padding-bottom: 39px;
}

.social-tw {
  padding-left: 12px;
}

.social-inst {
  padding-left: 8px;
}
.footer__links {
  text-decoration: none;
}
.footer__links-h3 {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 23px;
}
/* Footer nav style end */

/* Footer stores style start */

.footer__stores {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  align-items: center;
  justify-content: center;
}
.google__link-pic {
  padding-left: 40.34px;
}

/* Footer stores style end */

/* Footer credits style start */

.footer__credits {
  padding-top: 40px;
  padding-bottom: 16px;
}

.footer__credits-link {
  text-decoration: none;
}

.footer__credits-link-h4 {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 24px;
}
/* Footer credits style end */

/* Page-2 INTRO styles start */

.restaurant__card-discr-food-type {
  margin: 0;
  color: #626262;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.restaurant__card-discr-cook-time {
  background-color: #262626;
  border-radius: 16px;
}

.cook__time-dscr {
  margin: 0;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

/* Page-2 INTRO styles end */

/* Page-2 Filters styles start */

.filter__list {
  margin: 0;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
}
.filter__item {
  margin-right: 40px;
  list-style: none;
}

.filter__item-link {
  text-decoration: none;
  font-size: 16px;
  color: #626262;
}

.filter__item-link:hover,
.filter__item-link:focus,
.filter__item-link:active {
  color: #327430;
  outline: none;
}

.filters {
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

/* Page-2 Filters styles end */

/* Page-2 Menu styles start */

.menu {
  padding-top: 32px;
  padding-bottom: 31px;
}

.menu__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.menu__card-discr {
  display: flex;
  flex-direction: column;
}

.menu__card:hover,
.menu__card:focus,
.menu__card:active {
  background-color: rgba(117, 117, 117, 0.1);
  .menu__card-sel-txt {
    display: block;
  }
}

.menu__card-sel-txt {
  display: none;
  margin: 0;
  padding-left: 16px;
  padding-top: 4px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: rgba(98, 98, 98, 1);
}

.menu__card-price {
  margin: 0;
  margin-top: auto;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
}

/* Page-2 Menu styles end */
